* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form--button {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}
.image--div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 550px;
  height: auto; /* Ensure the container height adjusts to its content */
}

.meme--image {
  border-radius: 3px;
  max-width: 100%; /* Ensure the image scales responsively */
  height: auto; /* Maintain aspect ratio */
}

.image--div h2{
  position: absolute;
  color: red;
}